@import "../../../styles/variables";

.section {
  background-color: #f4f2f2;
  padding-top: 6rem;
  @include media-breakpoint-up(md) {
    padding-top: 12rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 24rem;
  }
}

.title {
  font-size: 32px;
  line-height: 0.88;
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    max-width: 788px;
    font-size: 60px;
    line-height: 0.83;
    margin: auto;
    margin-bottom: 48px;
  }
}
