@import "../../../styles/variables";

.section {
  background-color: #fff;
}

.title {
  text-align: right;
  font-size: 32px;
  line-height: 0.88;
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    max-width: 788px;
    font-size: 60px;
    line-height: 0.83;
    margin: auto;
    margin-bottom: 48px;
  }
}

.icon {
  max-width: 36px;
  margin-right: 1rem;
  @include media-breakpoint-up(md) {
    margin-right: 2rem;
    max-width: 48px;
  }
}
