@import "../../styles/variables";

.section {
  background-color: #f4f2f2;
  @include media-breakpoint-up(md) {
    padding: 6rem 0 !important;
  }
}

.title {
  font-size: 32px;
  line-height: 0.88;
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    max-width: 788px;
    font-size: 60px;
    line-height: 0.83;
    margin: auto;
    margin-bottom: 48px;
  }
}

.img {
  padding: 0.5rem 1rem;
}
